<html>
  <form action="/view" method="post">
    Name:<br>
    <input type="text" name="name"><br>
    Message:<br>
    <input type="text" name="message"><br><br>
    <input type ="submit" value="Post">
  </form>