<%# <link rel="stylesheet" type="text/css" href="/style.css"/> %>
<%# <body> %>
  <div class="body">
    <form action="/store_message" method="post">
    Name:<br>
      <input type="text" name="name"><br><br>
    Message:<br>
      <input type="text" name="message"><br><br>
      <input type ="submit" value="Post">
    </form>
  </div>
<%# </body> %>