<form method='post' action='/users/new'>
  <input type ="text" name='name' placeholder="Enter your name"><br><br>
  <input type="text" name="email" placeholder="Enter your email"><br><br>
  <input type="text" name="password" placeholder="Create a password"><br><br>
  <input type ="submit" value="Register">
</form>